#header {
    border: 1px solid black;
}

#projectBar {
    margin: 5px;
}

.projectTab {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px;
    margin: 0px;
}

.projectTab button {
    border: 1px solid black;
    padding: 0px 5px;
    margin: 2px;
}

#listContainer {
    border: 1px solid black; 
}

.listItem {
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.itemCheck {
    height: 10px;
    width: 10px;
    border: 1px solid black;
}

.itemText {
    width: max-content;
    border: 1px solid black;
}

.removeItemBtn {
    height: max-content;
    width: max-content;
}

.doneItem {
    text-decoration: line-through;
}

.details {
    display: block;
}

.itemDetail {
    width: max-content;
    border: 1px solid black;
}

#priorityForm {
    width: max-content;
    border: 1px solid black;
}